<div class="textAreaParent">
    <textarea pInputTextarea [(ngModel)]="benefitsText">
    </textarea>
</div>
<p-toast position="top-center" />
<div>
    <button pButton type="button" label="Submit" (click)="submitBenefits()"></button>
</div>
<div class="toolbarArea">
    <div>
        <label for="onlyABC">Show Only Types A,B,C </label>
        <p-checkbox [(ngModel)]="onlyABC" [binary]="true" inputId="onlyABC" />
    </div>
    <div>
        <label for="showRules">Show Rules </label>
        <p-checkbox [(ngModel)]="showRules" [binary]="true" inputId="showRules" />
    </div>
    <div>
        <label for="showCvgQual">CvgQual </label>
        <p-checkbox [(ngModel)]="showCvgQual" [binary]="true" inputId="showCvgQual" />
    </div>
    <div>
        <label for="showIIIs">IIIs </label>
        <p-checkbox [(ngModel)]="showIIIs" [binary]="true" inputId="showIIIs" />
    </div>
    <div>
        <label for="showplanDesc">PlanDesc </label>
        <p-checkbox [(ngModel)]="showplanDesc" [binary]="true" inputId="showplanDesc" />
    </div>
    <div>
        <label for="showInNetwork">InNetwork </label>
        <p-checkbox [(ngModel)]="showInNetwork" [binary]="true" inputId="showInNetwork" />
    </div>
</div>
@if (showRules) {
<p-table [value]="rules" [tableStyle]="{ 'min-width': '50rem' }" dataKey="id" [globalFilterFields]="['scope','rule']"
    ng-if>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="scope">Scope <p-sortIcon field="scope" />
                <p-columnFilter type="text" field="scope" display="menu" />
            </th>
            <th pSortableColumn="rule">Rule <p-sortIcon field="rule" />
                <p-columnFilter type="text" field="rule" display="menu" />
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rule>
        <tr>
            <td>{{ rule.scope }}</td>
            <td>{{ rule.rule }}</td>
        </tr>
    </ng-template>
</p-table>
}
<p-table [value]="benefits" [tableStyle]="{ 'min-width': '50rem' }" dataKey="id"
    [globalFilterFields]="['stc','bType','val','msg','cvgQual','iIIs','planDesc','inNetwork']">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 10vmax">STC</th>
            <th style="width: 10vmax">Type</th>
            <th style="width: 10vmax">Value</th>
            <th>ALLMSG</th>
            @if (showCvgQual) {
            <th  style="width: 10vmax">CvgQual</th>
            }
            @if (showIIIs) {
            <th  style="width: 10vmax">IIIs</th>
            }
            @if (showplanDesc) {
            <th>PlanDesc</th>
            }
            @if (showInNetwork) {
            <th  style="width: 10vmax">InNetwork</th>
            }
            <th style="width: 10vmax">Removed</th>
        </tr>
        <tr>
            <th>
                <p-columnFilter type="text" matchMode="equals" field="stc" />
            </th>
            <th>
                <p-columnFilter type="text" matchMode="equals" field="bType" />
            </th>
            <th> 
                <p-columnFilter type="text" matchMode="contains" field="val"  />
            </th>
            <th>
                <p-columnFilter type="text" matchMode="contains" field="msg"  />
            </th>
            @if (showCvgQual) {
            <th>
                <p-columnFilter type="text" field="cvgQual" />
            </th>
            }
            @if (showIIIs) {
            <th>
                <p-columnFilter type="text" field="iIIs" />
            </th>
            }
            @if (showplanDesc) {
            <th>
                <p-columnFilter type="text" field="planDesc"/>
            </th>
            }
            @if (showInNetwork) {
            <th>
                <p-columnFilter type="text" field="inNetwork" />
            </th>
            }
            <th>
                <p-columnFilter type="text" field="filteredOut" />
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-benefit>
        <tr>
            <td>{{ benefit.stc }}</td>
            <td>{{ benefit.bType }}</td>
            <td>{{ benefit.val }}</td>
            <td>{{ benefit.msg }}</td>
            @if (showCvgQual) {
            <td>{{ benefit.cvgQual }}</td>
            }
            @if (showIIIs) {
            <td>{{ benefit.iIIs }}</td>
            }
            @if (showplanDesc) {
            <td>{{ benefit.planDesc }}</td>
            }
            @if (showInNetwork) {
            <td>{{ benefit.inNetwork }}</td>
            }
            <td>{{ benefit.filteredOut }}</td>
        </tr>
    </ng-template>
</p-table>