<div class="textAreaParent">
    <textarea pInputTextarea [(ngModel)]="benefitsText">
    </textarea>
</div>
<div>
    <button pButton type="button" label="Submit" (click)="submitBenefits()"></button>
</div>
<p-table [value]="rules" [tableStyle]="{ 'min-width': '50rem' }" dataKey="id"
    [globalFilterFields]="['scope','rule']">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="scope">Scope <p-sortIcon field="scope" />
                <p-columnFilter type="text" field="scope" display="menu" />
            </th>
            <th pSortableColumn="rule">Rule <p-sortIcon field="rule" />
                <p-columnFilter type="text" field="rule" display="menu" />
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rule>
        <tr>
            <td>{{ rule.scope }}</td>
            <td>{{ rule.rule }}</td>
        </tr>
    </ng-template>
</p-table>
<p-table [value]="benefits" [tableStyle]="{ 'min-width': '50rem' }" dataKey="id"
    [globalFilterFields]="['stc','bType','val','msg','cvgQual','iIIs','planDesc','inNetwork']">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="stc">STC <p-sortIcon field="stc" />
                <p-columnFilter type="text" field="stc" display="menu" />
            </th>
            <th pSortableColumn="bType">Type <p-sortIcon field="bType" />
                <p-columnFilter type="text" field="bType" display="menu" />
            </th>
            <th pSortableColumn="val">Value <p-sortIcon field="val" />
                <p-columnFilter type="text" field="val" display="menu" />
            </th>
            <th>ALLMSG
                <p-columnFilter type="text" field="msg" display="menu" />
            </th>
            <th>CvgQual
                <p-columnFilter type="text" field="cvgQual" display="menu" />
            </th>
            <th>IIIs
                <p-columnFilter type="text" field="iIIs" display="menu" />
            </th>
            <th>PlanDesc
                <p-columnFilter type="text" field="planDesc" display="menu" />
            </th>
            <th>InNetwork
                <p-columnFilter type="text" field="inNetwork" display="menu" />
            </th> 
            <th pSortableColumn="filteredOut">Removed <p-sortIcon field="stc" />
                <p-columnFilter type="text" field="filteredOut" display="menu" />
            </th> 
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-benefit>
        <tr>
            <td>{{ benefit.stc }}</td>
            <td>{{ benefit.bType }}</td>
            <td>{{ benefit.val }}</td>
            <td>{{ benefit.msg }}</td>
            <td>{{ benefit.cvgQual }}</td>
            <td>{{ benefit.iIIs }}</td>
            <td>{{ benefit.planDesc }}</td>
            <td>{{ benefit.inNetwork }}</td>
            <td>{{ benefit.filteredOut }}</td>
        </tr>
    </ng-template>
</p-table>